.navigation {
  &__container {
    @include containerize;
  }
  background: black;
  color: $white;
  height: 115px;
  position: sticky;
  top: 0;
  @include breakpoint('phone') {
    height: auto;
  }
  &__menu {
    background: green;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    padding: 0;
    @include breakpoint('phone') {
      flex-direction: column;
      height: auto;
    }
    li {
      @include breakpoint('phone') {
        width: 100%;
      }
      &.active {
        background: red;
      }
      a {
        color: $white;
        text-decoration: none;
        padding: 1em 1em;
        position: relative;
        @include breakpoint('phone') {
          display: block;
          width: 100%;
          text-align: center;
        }
        &:after {
          content: '';
          background: $white;
          height: 3px;
          width: 0;
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          margin: 0 auto;
          transition: width 0.25s ease-in-out;
        }
        &:hover {
          &:after {
            width: 100%;
          }
        }
      }
    }
  }
}
