.navigation {
  &__container {
    @include containerize;
  }
  background: black;
  color: white;
  &__menu {
    background: green;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    li {
      a {
        color: white;
        text-decoration: none;
        padding: 1em 1.5em;
      }
    }
  }
}
